body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

h1{
text-align:center;
}

button{
padding:10px;
font-size:16px;
margin:10px;
}

.container{
display:flex;
}

#map{
height:600px;
width:70%;
}

#panel{
width:30%;
background:#111;
color:#0f0;
padding:15px;
overflow:auto;
}

.log{
margin-bottom:5px;
}