<!DOCTYPE html>
<html>

<head>

<title>Earthquake Simulation Model</title>

<link rel="stylesheet" href="/static/style.css">

<link rel="stylesheet"
href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

</head>

<body>

<h1>Earthquake Simulation Model</h1>

<button onclick="startSimulation()">Start Earthquake</button>

<div class="container">

<div id="map"></div>

<div id="panel">

<h3>Simulation Log</h3>

<div id="log"></div>

</div>

</div>

<script src="/static/script.js"></script>

</body>

</html>